@model Product

@if(Model!=null){
<strong>@Model.Id</strong>
<p>Name: <span>@Model.Name</span></p>
<p>Type: <span>@Model.Type</span></p>
<p>Manufacturer: <span>@Model.Manufacturer</span></p>
}
else{
	<strong>Product not found!</strong>
}